rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Generic rule for all collections
    // Allowing read/write for all for now since admin login is mock-based
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
